body{
  background-color: #7A7EC0; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #bbb, purple);
}
.logo{
	height: 100px;
  width: 100px;
  display: inline-block;
	transition: transform .2s;
}

.logo:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

.tdwa {
	position: relative;
	font-size: 60px;
	font-family: 'Fredoka One', cursive;
	color: #2A345E;
 	text-shadow: 0 0 50px #FFFFFF, 0 0 20px #FFFFFF;
 	transition: transform .2s;
}
.tdwa:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.1); 
}


.btn:hover{
		background-color: aqua;
}
.dropdown { 
            position: static !important; 
        } 
          
        .dropdown-menu { 
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
            margin-top: 0px !important; 
            width: 150% !important; 
        } 
.dropdown-menu {
background-image: transparent !important;
background-color:#285eff !important;
color:#668CFF !important;
border: 1px solid #668CFF !important;
}

/*-------------------------
	Digital Clock
--------------------------*/


.clock {
  font-family: 'liquid_crystalregular', sans-serif;
  user-select: none;
  user-drag: none;  
  /*height: 45px;
  width: 21%;

  line-height: 22px;  
  margin: 0px auto 0;
  padding: 0 50px;
  background: #222;
  color: #eee;
  text-align: center;
  border-radius: 5px;

  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 4px #fff;*/

  


  height: 50px;
  width: 20%;
  line-height: 22px;  
  margin: 0px auto 0;
  padding: 0 50px;
  background: #222;
  color: #eee;
  text-align: center;
  border-radius: 05px;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
}

.clock:hover{
  background-color: #7A7EC0;
}